ignore-engines=true
shamefully-hoist=true # 解决幽灵依赖问题
node-linker=hoisted # 创建一个类似于 npm 创建的扁平的 node_modules 目录结构
legacy-peer-deps=true # 解决peerDependencies冲突问题
strict-peer-dependencies=false # 解决peerDependencies冲突问题

# registry=https://registry.npmmirror.com/
